[Desktop Entry]
Version=1.0
Type=Application
Name=BlanKart
Comment=SRB2Kart v2 Indev mod that adds new features, improvements and aims for the original gameplay
TryExec=blankart.sh
Exec=blankart.sh
Icon=page.codeberg.NepDisk.BlanKart
Terminal=false
Categories=Game;SportsGame;
Keywords=kart;sonic;racer;multiplayer;doom;
Actions=OpenGL;Software;

[Desktop Action OpenGL]
Name=OpenGL renderer
Exec=blankart.sh -opengl

[Desktop Action Software]
Name=Software renderer
Exec=blankart.sh -software
